/* Copyright © 2021 Akobuije GmbH
 * Autor: Bob-Anyeji Chukwunonso
 * Date: 21.03.2021
 * Discription: Custom Main Stylesheet 
 * Document: Main.css 
 * Template: https://heimatkunde.boell.de/de/zwischenraum-fuer-kunst
 */

/* Definition of Main Properties
 *==============================
 */

/* Region Slide in Menu */
.site-content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    width: 980px;
}
.site-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* Print Copyright */
.print-copyright-container {
    display: none;
}
b, strong {
    font-weight: bold;
}

/* Grid Front End */
.clearfix, .view-all-trainers-d8 .trainer {
    float: none;
    clear: both;
}
/* Pseudo Element */
.clearfix::after, .view-all-trainers-d8 .trainer::after {
    content: "";
    display: block;
    clear: both;
}
.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

/* Grid Container */
.grid-container {
    margin-bottom: 56px;
}

/* Grid Slot Wrapper */
.grid-slots-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/* Grid Slot Whole */
html[dir="ltr"] .grid-slot-first {
    margin-left: 0;
}
.grid-slot {
    width: 100%;
}
.grid-slot-1d1 {
    width: 980px;
    border: 0;
    margin: 0;
        margin-left: 0px;
}
.grid-slot-1d1, .grid-slot-1d1 .grid-box {
    width: 12 * $slot-width + 11 * $slot-gap;
    width: 100%;
}
.grid-slot {
    position: relative;
    display: block;
    padding: 0;
    background: white;
    margin-right: 0;
    width: 100%;
}

/* Grid box Thematic Focus */
.grid-slot-1d1, .grid-slot-1d1 .grid-box {
    width: 12 * $slot-width + 11 * $slot-gap;
    width: 100%;
}
.grid-box {
    clear: both;
    overflow: visible;
    position: relative;
    padding-right: 0;
}

/* Article Thematic Focus */
.grid-slot-1d1 .thematic-focus-box {
    margin-left: -120px;
    margin-right: -120px;
}
.thematic-focus-box {
    margin-left: 0;
    margin-right: 0;
}
.thematic-focus-box {
    background-position: center;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 400px;
    overflow: hidden;
    position: relative;
    text-rendering: optimizeLegibility;
    text-shadow: 0 0 10px black;
    margin-left: -10px;
    margin-right: -10px;
}
.grid-box:not(.grid-box--transparent) .thematic-focus-box::before {
    background: rgba(0, 0, 0, 0.2);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
/* Pseudo-Element */
.grid-box:not(.grid-box--transparent) .thematic-focus-box::before {
    background: rgba(0, 0, 0, 0.2);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Article Thematic Focus box */
.grid-slot-1d1 .thematic-focus-box__words {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 980px;
    padding-left: 0;
    padding-right: 8px;
    text-align: left;
}
.thematic-focus-box__words {
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 32px 32px 24px;
        padding-right: 32px;
        padding-left: 32px;
    position: relative;
    text-align: center;
}

/* Thematic Focus Header */
.thematic-focus-box__header {
    margin-top: 30px;
}
.thematic-focus-box__intro {
    color: white;
    text-transform: uppercase;
    margin-bottom: -5px;
}
.grid-slot-1d1 .thematic-focus-box__title, .grid-slot-2d3 .thematic-focus-box__title {
    font-size: 32px;
    line-height: 1.2;
}
.grid-slot-1d1 .thematic-focus-box__title, .grid-slot-2d3 .thematic-focus-box__title {
    font-size: 28px;
    line-height: 1.1;
}
.thematic-focus-box__title {
    color: white;
    margin: 10px 0;
    overflow: visible;
}
h2 {
    color: #444;
    font-family: "Merriweather", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
    font-size: 24px;
}

/* Thematic Focus Discription */
.grid-slot-1d1 .thematic-focus-box__description {
    font-size: 18px;
}
.thematic-focus-box__description {
    line-height: 1.5;
}
.thematic-focus-box__description {
    font-size: 15px;
    line-height: 1.3;
    color: white;
}
.thematic-focus-box__description p {
    max-width: 90%;
}
.thematic-focus-box__description p, .thematic-focus-box__description a {
    color: inherit;
}

/* Thematic Focus Link Wrapper */
.thematic-focus-box__more-link-wrapper {
    margin-bottom: 30px;
    padding: 40px 0 20px;
}
.thematic-focus-box__more-link:hover {
    background-color: white;
    color: black;
    text-shadow: none;
}
a:active, a:hover {
    outline: 0;
}
.thematic-focus-box__more-link {
    color: white;
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid white;
    padding: 17px;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 0 0 10px black;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
}

/* Thematic Focus Nav */
.grid-slot-1d1 .thematic-focus-box__links {
    max-width: 40%;
    margin-left: 0;
    margin-right: 0;
}
.thematic-focus-box__links {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.thematic-focus-box__link:first-child {
    padding-top: 30px;
}
.thematic-focus-box__link-intro {
    display: block;
    text-transform: uppercase;
}
.thematic-focus-box__link-label {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
}
.thematic-focus-box__link {
    color: white;
    display: block;
    padding-bottom: 30px;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
.grid-slot-1d1 .thematic-focus-box__link + .thematic-focus-box__link::before {
    width: 140px;
}
.thematic-focus-box__link + .thematic-focus-box__link::before {
    content: "";
    display: block;
    padding-bottom: 30px;
    border-top: 1px solid white;
}
/* Pseudo Element */
grid-slot-1d1 .thematic-focus-box__link + .thematic-focus-box__link::before {
    width: 140px;
}
.thematic-focus-box__link + .thematic-focus-box__link::before {
    content: "";
    display: block;
    padding-bottom: 30px;
    border-top: 1px solid white;
}

/* Teaser */
.teaser--main {
    display: block;
    text-decoration: none;
    float: none;
    clear: both;
}
.teaser {
}
.teaser--main a {
    text-decoration: none;
}
/* Pesudo-Element */
.teaser--main::after {
    content: "";
    display: block;
    clear: both;
}

/* Blazy Field */
.field[data-blazy] {
    min-width: 50%;
}
.blazy, .blazy *, .blazy ::before, .blazy ::after {
    box-sizing: border-box;
}
.blazy .media {
    display: block;
    position: relative;
}

/* Media */
.b-lazy, .b-responsive {
    display: block;
    height: auto;
    min-height: 1px;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}
.b-loaded, .b-error, .b-bg.media--loading {
    opacity: 1;
}

/* Teaser Title */
.grid-slot-1d1 .teaser--main .teaser__title, .grid-slot-2d3 .teaser--main .teaser__title {
    font-size: 32px;
    line-height: 1.2;
}
.teaser--main .teaser__title {
    margin-top: 24px;
}
.teaser--main .teaser__title {
    color: #444;
    font-family: "Merriweather", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
    color: #444;
    font-size: 20px;
    margin-bottom: 7px;
    margin-top: 0;
}
h3 {
    color: #444;
    font-family: "Merriweather", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
    color: #444;
    font-size: 20px;
}

/* Teaser Body */
.teaser--main .teaser__body {
    line-height: 1.5;
}
.teaser--main .teaser__body {
    color: #444;
    font-family: "dinweb", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.3;
    text-decoration: none;
    margin-top: 7px;
}
.grid-container.color--mid-red .teaser--main .field--name-field-content-genre {
    color: #cc0000;
}
.teaser--main .field--name-field-content-genre {
    font-style: normal;
    font-weight: bold;
    color: #91c800;
    margin-right: 7px;
}
.teaser--main .teaser__body * {
    display: inline;
}
.teaser--main .content-authors {
    display: block;
    margin-top: 7px;
    color: #999;
}

/* Grid Slot 1d2 */
html[dir="ltr"] .grid-slot-first {
    margin-left: 0;
}
.grid-slot.grid-slot-1d2 {
    margin-top: 0;
}
.grid-slot-1d2 {
    width: calc(50% - 15px);
}

/* Grid Slot 1d3 */
html[dir="ltr"] .grid-slot-1d3:not(.grid-slot-first) {
    margin-left: 30px;
}
.grid-container-c-2d3-1d3 .grid-slot-1d3, .grid-container-c-1d3-2d3 .grid-slot-1d3 {
    width: calc(33.3% - 15px);
}
.grid-slot-1d3, .grid-slot-1d3 .grid-box {
    width: 4 * $slot-width + 3 * $slot-gap - 2 * $slot-padding;
    width: 100%;
}

/* Grid Slot 2d3 */
.grid-slot-2d3 {
    width: calc(66.7% - 15px);
}

