/* Copyright © 2021 Akobuije GmbH
 * Autor: Bob-Anyeji Chukwunonso
 * Date: 04.03.2021
 * Discription: Stylesheet Containing Default Properties for WepPage 
 * Document: index.css 
 * Template: https://heimatkunde.boell.de/de/zwischenraum-fuer-kunst
 */

/* Definition of Base html Properties 
 * ==================================
 */
html {
    box-sizing: border-box;
}
html, body, button, input, select, textarea {
    color: #444;
    font-family: 'Merriweather', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.3;
    text-decoration: none;
}
html {
    font-family: Merriweather;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* Definition of Body Properties */
body {
    margin-left: auto;
    margin-right: auto;
    width: 1220px;
}
body {
    width: 100%;
}
body {
    overflow-x: hidden;
}
body {
    background-color: #e2e2e2;
}
body {
    margin: 0;
    margin-right: 0px;
    margin-left: 0px;
}

/* Definition of Visually Hidden Properties eg Links etc */
.visually-hidden, .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
}

/* Definition of Layout Tabs Properties */
.PagTabs {
    left: 0;
    position: fixed;
    width: 100vw;
    z-index: 20;
}

/* Definition of Layout Container Properties */
.PageContainer {
    background: white;
    padding-top: 20px;
}
.PageContainer {
    max-width: 1220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Definition of Inherited Properties
 *===================================
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
*, ::before, ::after {
    box-sizing: inherit;
}
