/* Copyright © 2021 Akobuije GmbH
 * Autor: Bob-Anyeji Chukwunonso
 * Date: 28.03.2021
 * Discription: Custom Footer Stylesheet 
 * Document: Footer.css 
 * Template: https://heimatkunde.boell.de/de/zwischenraum-fuer-kunst
 */

/* Definition of Footer Properties
 *==============================
 */

/* Footer Site */
footer.site-footer {
    margin-top: 32px;
    background-color: #FFFF00;
}

/* Top Wrapper */
footer.site-footer .site-footer-top-wrapper {
    background-color: #f1f1f1;
    color: #999;
}

/* Inner Wrapper */
footer.site-footer .site-footer-top-wrapper > .inner, footer.site-footer .site-footer-middle-wrapper > .inner, footer.site-footer .site-footer-bottom-wrapper > .inner {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    width: 980px;
}
footer.site-footer .site-footer-top-wrapper > .inner, footer.site-footer .site-footer-middle-wrapper > .inner, footer.site-footer .site-footer-bottom-wrapper > .inner {
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}
.site-footer-middle-wrapper > .inner, .site-footer-bottom-wrapper > .inner {
    padding-top: 24px;
    padding-bottom: 24px;
}

/* Bottom Wrapper */
footer.site-footer .site-footer-bottom-wrapper .site-footer-bottom-top {
    overflow: hidden;
    clear: both;
}
.site-footer-bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
footer.site-footer .site-footer-bottom-wrapper .site-footer-bottom__copyright {
    overflow: hidden;
    clear: both;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
}

/* Site Navigation */
footer.site-footer .site-footer-top-wrapper h2, footer.site-footer .site-footer-top-wrapper li, footer.site-footer .site-footer-middle-wrapper h2, footer.site-footer .site-footer-middle-wrapper li, footer.site-footer .site-footer-bottom-top h2, footer.site-footer .site-footer-bottom-top li {
    font-style: normal;
    font-weight: bold;
}
footer.site-footer h1, footer.site-footer h2, footer.site-footer h3, footer.site-footer h4, footer.site-footer h5 {
    margin-bottom: 7px;
    text-transform: uppercase;
}
footer.site-footer h1, footer.site-footer h2, footer.site-footer h3, footer.site-footer h4, footer.site-footer h5, footer.site-footer li, footer.site-footer a {
    font-size: 13px;
    font-weight: normal;
}
.site-footer-middle-wrapper h1, .site-footer-middle-wrapper h2, .site-footer-middle-wrapper h3, .site-footer-middle-wrapper h4, .site-footer-middle-wrapper h5, .site-footer-bottom-wrapper h1, .site-footer-bottom-wrapper h2, .site-footer-bottom-wrapper h3, .site-footer-bottom-wrapper h4, .site-footer-bottom-wrapper h5 {
    color: #fff;
}
.visually-hidden, .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
        margin-bottom: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
}
h2 {
    color: #444;
    font-family: "dinweb", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
    font-size: 24px;
}

/* Navigation Item */
footer.site-footer .site-footer-bottom-wrapper .site-footer-bottom__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
footer.site-footer ul.menu, footer.site-footer ul.site-footer-bottom__menu {
    padding-left: unset;
    padding-right: unset;
    margin-top: unset;
    margin-bottom: unset;
    list-style: none;
    margin: 0;
        margin-bottom: 0px;
    margin-bottom: 15px;
}
p, ul, ol {
    color: #444;
    font-family: "dinweb", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.3;
    text-decoration: none;
}
footer.site-footer .site-footer-top-wrapper h2, footer.site-footer .site-footer-top-wrapper li, footer.site-footer .site-footer-middle-wrapper h2, footer.site-footer .site-footer-middle-wrapper li, footer.site-footer .site-footer-bottom-top h2, footer.site-footer .site-footer-bottom-top li {
    font-style: normal;
    font-weight: bold;
}
footer.site-footer h1, footer.site-footer h2, footer.site-footer h3, footer.site-footer h4, footer.site-footer h5, footer.site-footer li, footer.site-footer a {
    font-size: 13px;
    font-weight: normal;
}

/* Navigatin Item HypeLink */
footer.site-footer .site-footer-bottom-wrapper .site-footer-bottom__menu li a {
    margin-right: 15px;
}
footer.site-footer .site-footer-bottom-wrapper .site-footer-bottom__menu li a {
    font-style: normal;
    font-weight: bold;
    display: block;
}
footer.site-footer ul.menu a, footer.site-footer ul.site-footer-bottom__menu a {
    display: block;
}
footer.site-footer .site-footer-top-wrapper a, footer.site-footer .site-footer-middle-wrapper a, footer.site-footer .site-footer-bottom-top a {
    display: block;
    margin-bottom: 6px;
}
footer.site-footer h1, footer.site-footer h2, footer.site-footer h3, footer.site-footer h4, footer.site-footer h5, footer.site-footer li, footer.site-footer a {
    font-size: 13px;
    font-weight: normal;
}
.site-footer-middle-wrapper a, .site-footer-bottom-wrapper a {
    text-decoration: none;
}
